REACT_APP_POLYGON_AMOY_RPC="https://rpc-amoy.polygon.technology"
REACT_APP_POAP_CONTRACT_ADDRESS_POLYGON_AMOY="0x7b04cD65718eA503e0A641c1D23cb57688B808F9"
REACT_APP_POLYGON_AMOY_CHAIN_ID="80002"
REACT_APP_POLYGON_AMOY_CHAIN_NAME="Amoy"
REACT_APP_NATIVE_CURRENCY_NAME="Test POL"
REACT_APP_NATIVE_CURRENCY_SYMBOL="POL"
REACT_APP_POLYGON_AMOY_BLOCK_EXPLORER_URL="https://amoy.polygonscan.com"
REACT_APP_BLOCKFROST_URL
REACT_APP_BLOCKFROST_PROJECT_ID

REACT_APP_API_BASE_URL
REACT_APP_API_CODE_MASTER
REACT_APP_PAIMA_URL

REACT_APP_MNEMONIC_DEVNET
REACT_APP_POAP_CONTRACT_ADDRESS_HARDHAT
REACT_APP_HARDHAT_PK_0